[package]
name = "fms-guardrails-orchestr8"
version = "0.1.0"
edition = "2021"
authors = ["Evaline Ju", "Gaurav Kumbhat", "Dan Clark"]
description = "Foundation models orchestration server"
build = "build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
name = "fms-guardrails-orchestr8"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.83"
axum = { version = "0.7.5", features = ["json"] }
clap = { version = "4.5.3", features = ["derive", "env"] }
futures = "0.3.30"
ginepro = "0.7.2"
hyper = { version = "1.0.1", features = ["http1", "http2", "server"] }
hyper-util = { version = "0.1.1", features = ["server-auto", "tokio"] }
mio = "0.8.11"
prost = "0.12.3"
reqwest = { version = "0.12.4", features = ["blocking", "rustls-tls", "json"] }
rustls = "0.23.9"
rustls-pemfile = "2.1.0"
rustls-webpki = "0.102.2"
serde = { version = "1.0.200", features = ["derive"] }
serde_json = "1.0.116"
serde_yml = "0.0.5"
thiserror = "1.0.60"
tokio = { version = "1.37.0", features = ["rt", "rt-multi-thread", "parking_lot", "signal", "sync", "fs"] }
tokio-rustls = { version = "0.26.0" }
tokio-stream = "0.1.14"
tonic = { version = "0.11.0", features = ["tls"] }
tower-service = "0.3"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["json", "env-filter"] }
url = "2.5.0"
uuid = { version = "1.8.0", features = ["v4", "fast-rng"] }

[build-dependencies]
tonic-build = "0.11.0"

[dev-dependencies]
faux = "0.1.10"

[profile.release]
debug = false
incremental = true
lto = true
strip = "symbols"
