[package]
name = "fms-orchestr8"
version = "0.1.0"
edition = "2021"
authors = ["Evaline Ju", "Gaurav Kumbhat", "Dan Clark"]
description = "Foundation models orchestration server"
build = "build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
name = "fms-orchestr8"
path = "src/main.rs"

[dependencies]
axum = { version = "0.7.5", features = ["json"] }
clap = { version = "4.5.3", features = ["derive", "env"] }
futures = "0.3.30"
ginepro = "0.7.2"
mio = "0.8.11"
prost = "0.12.3"
reqwest = { version = "0.12.4", features = ["blocking", "rustls-tls", "json"] }
rustls-webpki = "0.102.2"
serde = { version = "1.0.200", features = ["derive"] }
serde_json = "1.0.116"
serde_yml = "0.0.5"
thiserror = "1.0.59"
tokio = { version = "1.37.0", features = ["rt", "rt-multi-thread", "parking_lot", "signal", "sync", "fs"] }
tokio-stream = "0.1.14"
tonic = { version = "0.11.0", features = ["tls"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["json", "env-filter"] }
url = "2.5.0"
validator = { version = "0.18.1", features = ["derive"] } # For API validation

[build-dependencies]
tonic-build = "0.11.0"

[profile.release]
debug = false
incremental = true
lto = true
strip = "symbols"
