#####################################################
#
# List of approvers for foundation-model-stack/fms-guardrails-orchestrator repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*  @gkumbhat @evaline-ju @declark1